footer{
    margin-top: auto;
    box-sizing: border-box;
    background-color: #000;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: aliceblue;
    bottom: 0;
    position: fixed;
}

.footer-obsah{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-obsah h3{
    font-size: 15px;
    line-height: 20px;
}

.footer-obsah p{
    max-width: 400px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 12px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.socials li{
    margin: 0 5px;
}

.socials a{
    text-decoration: none;
    color: aliceblue;
}

.socials a i{
    font-size: 25px;
}

.socials a:hover i{
    color: #e63946;
}

.footer-bottom{
    background-color: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
}
